<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.escns.smombie">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Service.PedometerCheckService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.escns.smombie.service" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Receiver.LockScreenReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.escns.smombie.CALL_STATE_RINGING" />
                <action android:name="com.escns.smombie.CALL_STATE_OFFHOOK" />
                <action android:name="com.escns.smombie.CALL_STATE_IDLE" />
                <action android:name="com.escns.smombie.LOCK_SCREEN_ON" />
                <action android:name="com.escns.smombie.LOCK_SCREEN_OFF" />
                <action android:name="com.escns.smombie.RESTART_SERVICE" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        // Facebook 추가

        // Facebook 추가 - 로그인, 공유 기능을 사용하기 위함
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>